# Tutorial "ELECTRE_Tri_main.py"

Author: [Souleymane Daniel](mailto:souleymane.daniel@insa-lyon.fr)

[INSA Lyon](https://www.insa-lyon.fr), France, 27/07/2021

## Introduction

In order to dissociate the representative functions of the ELECTRE-Tri method and their execution in the case of examples or concrete applications, a "main" executable code has been created. The [**ELECTRE_Tri_main.py**](ELECTRE_Tri_main.py) code is the executable. It contains the different instructions that will lead to the construction of the objects used throughout the method. The different stages of this executable code are presented here.

## 1. First step

#### 1.1 Cutting threshold
The first step is to define the "**cutting threshold λ**". The cutting threshold is the basis of the comparison. It allows to decide on the existing over-ranking relationships between actions "*a*" and "*b*". The closer it is to 1, the more demanding the ranking will be. The most common values for this cutting threshold are generally between *0.60* and *0.75*.

In [1]:
λ = 0.75

#### 1.2 Categories
The names of the different categories should then be given in ascending order. Be careful here as the **[Categories]** list cannot be modified without changing the source code. As a reminder, the code has been built on the basis of three categories which are "**Bad**", "**Moderate**", and "**Good**".

In [2]:
Categories = ['Bad', 'Moderate', 'Good']

## 2. Second step

The second step consist of importing the input data of the problem. These data should be stored in csv files according to the data structure presented in the document [Tutorial_CSV_files_structure.md](Tutorial_CSV_files_structure.md). There should be four such files:
- a csv file containing the different data related to the criteria and their weight. 

    *Example: [Building_retrofit_scenarios_CRIT.csv](Building_retrofit_scenarios_CRIT.csv)*
    
- a csv file containing the different data related to actions and their performances. 

    *Example: [Building_retrofit_scenarios_PERF.csv](Building_retrofit_scenarios_PERF.csv)*
    
- a csv file containing the different data related to the thresholds and reference profile for the "Good" category. 

    *Example: [Building_retrofit_scenarios_THRG.csv](Building_retrofit_scenarios_THRG.csv)*
    
- a csv file containing the different data related to the thresholds and reference profile for the "Moderate" category. 

    *Example: [Building_retrofit_scenarios_THRM.csv](Building_retrofit_scenarios_THRM.csv)*

To import the data, the following functions are used, where the input parameters are of the csv files names:
- "**_input_criteria(name)_**"
- "**_input_performances(name)_**"
- "**_input_thresholds(name_moderate, name_good)_**"

These functions will then return the different objects needed for the rest of the process.

In [3]:
import ELECTRE_Tri
import pandas as pd
# Importing the input data of the problem
Criteria, Weights = ELECTRE_Tri.input_criteria('Wall_insulation_scenarios_CRIT.csv')
Actions, Performances = ELECTRE_Tri.input_performances('Wall_insulation_scenarios_PERF.csv')
Thresholds = ELECTRE_Tri.input_thresholds('Wall_insulation_scenarios_THRM.csv', 'Wall_insulation_scenarios_THRG.csv')

In [4]:
print("Criteria:", Criteria)

Criteria: ['g1.1', 'g4.1', 'g4.2', 'g4.3', 'g4.4', 'g4.5', 'g4.6', 'g4.7']

In [5]:
pd.DataFrame.from_dict(Weights, orient='index', columns=['Weights']).round(2)

      Weights
g1.1    18.44
g4.1    18.45
g4.2     2.59
g4.3    16.18
g4.4    13.92
g4.5    13.92
g4.6    11.65
g4.7     4.85

In [6]:
print("Actions:", Actions)

Actions: ['e1.1', 'e1.2', 'e1.3', 'e1.4', 'e1.5', 'e1.6', 'e1.7', 'e1.8', 'e1.9']

In [7]:
pd.DataFrame(Performances).round(1)

,e1.1,e1.2,e1.3,e1.4,e1.5,e1.6,e1.7,e1.8,e1.9
g1.1,292158.7,305201.5,260856.0,391284.0,260856.0,250421.8,318244.3,260856.0,378241.2
g4.1,3.8,4.0,3.7,4.0,3.8,4.1,4.6,4.4,3.8
g4.2,366.0,253.0,546.0,910.0,473.0,40.0,422.0,651.0,11.0
g4.3,2.8,3.5,3.5,3.6,3.8,4.8,2.7,3.6,3.4
g4.4,4.6,4.6,4.6,4.0,4.8,4.7,4.2,4.9,4.1
g4.5,4.0,4.6,3.4,2.7,4.7,4.5,4.0,2.4,3.6
g4.6,0.5,0.0,0.0,0.0,0.3,1.5,0.9,0.0,0.5
g4.7,4.0,3.6,4.4,4.4,4.2,4.0,3.8,3.7,2.3

In [8]:
pd.DataFrame(Thresholds['Moderate'], index=['b1', 'qi', 'pi', 'vi']).round(2)

         g1.1  g4.1    g4.2  g4.3  g4.4  g4.5  g4.6  g4.7
b1 -328170.34  3.88 -550.89  3.22  4.32  3.36  0.16  3.51
qi   30201.33  0.40   40.80  0.35  0.45  0.38  0.04  0.38
pi   60402.66  0.81   81.60  0.70  0.90  0.76  0.08  0.76
vi  120805.31  1.61  163.20  1.41  1.80  1.51  0.17  1.53

In [9]:
pd.DataFrame(Thresholds['Good'], index=['b1', 'qi', 'pi', 'vi']).round(2)

         g1.1  g4.1    g4.2  g4.3  g4.4  g4.5  g4.6  g4.7
b1 -286319.05  4.12 -322.27  3.70  4.59  4.03  0.57  4.00
qi   30201.33  0.40   40.80  0.35  0.45  0.38  0.04  0.38
pi   60402.66  0.81   81.60  0.70  0.90  0.76  0.08  0.76
vi  120805.31  1.61  163.20  1.41  1.80  1.51  0.17  1.53

## 3. Third step

In the third step the objective is to use the input data to calculate the indicators of the ELECTRE-Tri method. To calculate these indicators we use the following functions:
- Calculation of concordance indices by criteria: "***concordance***"
- Calculation of discordance indices by criteria: "***discordance***"
- Calculation of global concordance indices: "***global_concordance***"
- Calculation of credibility degrees: "***credibility***"
- Construction of the outranking relationships: "***over_ranking_relations***"

Particular attention should be paid to the calculation of these indicators. Each of them must be calculated as many times as there are reference profiles. This means that the functions used to perform these calculations must be called several times except for the construction of the over-ranking relationships.

In [10]:
# Calculation of the concordance matrices for the two reference profiles
Concordance_b1 = ELECTRE_Tri.concordance(Criteria, Actions, Performances, Thresholds, 'Moderate')
print('Concordance matrix for the "Moderate" reference profile: (ai,b1)')
pd.DataFrame(Concordance_b1['(ai,bk)'], index=Actions, columns=Criteria).round(2)

Concordance matrix for the "Moderate" reference profile: (ai,b1)

      g1.1  g4.1  g4.2  g4.3  g4.4  g4.5  g4.6  g4.7
e1.1   1.0   1.0   1.0  0.75   1.0  1.00   1.0   1.0
e1.2   1.0   1.0   1.0  1.00   1.0  1.00   0.0   1.0
e1.3   1.0   1.0   1.0  1.00   1.0  1.00   0.0   1.0
e1.4   1.0   1.0   1.0  1.00   1.0  0.28   0.0   1.0
e1.5   1.0   1.0   1.0  1.00   1.0  1.00   1.0   1.0
e1.6   1.0   1.0   1.0  1.00   1.0  1.00   1.0   1.0
e1.7   1.0   1.0   1.0  0.57   1.0  1.00   1.0   1.0
e1.8   1.0   1.0   1.0  1.00   1.0  0.00   0.0   1.0
e1.9   1.0   1.0   1.0  1.00   1.0  1.00   1.0   0.0

In [11]:
Concordance_b2 = ELECTRE_Tri.concordance(Criteria, Actions, Performances, Thresholds, 'Good')
print('Concordance matrix for the "Good" reference profile: (ai,b2)')
pd.DataFrame(Concordance_b2['(ai,bk)'], index=Actions, columns=Criteria).round(2)

Concordance matrix for the "Good" reference profile: (ai,b2)

      g1.1  g4.1  g4.2  g4.3  g4.4  g4.5  g4.6  g4.7
e1.1   1.0   1.0   1.0   0.0  1.00  1.00   1.0   1.0
e1.2   1.0   1.0   1.0   1.0  1.00  1.00   0.0   1.0
e1.3   1.0   0.9   1.0   1.0  1.00  0.28   0.0   1.0
e1.4   1.0   1.0   1.0   1.0  0.66  0.00   0.0   1.0
e1.5   1.0   1.0   1.0   1.0  1.00  1.00   0.0   1.0
e1.6   1.0   1.0   1.0   1.0  1.00  1.00   1.0   1.0
e1.7   1.0   1.0   1.0   0.0  1.00  1.00   1.0   1.0
e1.8   1.0   1.0   1.0   1.0  1.00  0.00   0.0   1.0
e1.9   1.0   1.0   1.0   1.0  0.90  0.97   0.0   0.0

In [12]:
# Calculation of the discordance matrices for the two reference profiles
Discordance_b1 = ELECTRE_Tri.discordance(Criteria, Actions, Performances, Thresholds, 'Moderate')
print('Discrodance matrix for the "Moderate" reference profile: (ai,b1)')
pd.DataFrame(Discordance_b1['(ai,bk)'], index=Actions, columns=Criteria).round(2)

Discrodance matrix for the "Moderate" reference profile: (ai,b1)

      g1.1  g4.1  g4.2  g4.3  g4.4  g4.5  g4.6  g4.7
e1.1   0.0   0.0   0.0   0.0   0.0  0.00  0.00  0.00
e1.2   0.0   0.0   0.0   0.0   0.0  0.00  0.32  0.00
e1.3   0.0   0.0   0.0   0.0   0.0  0.00  0.92  0.00
e1.4   0.0   0.0   0.0   0.0   0.0  0.00  0.92  0.00
e1.5   0.0   0.0   0.0   0.0   0.0  0.00  0.00  0.00
e1.6   0.0   0.0   0.0   0.0   0.0  0.00  0.00  0.00
e1.7   0.0   0.0   0.0   0.0   0.0  0.00  0.00  0.00
e1.8   0.0   0.0   0.0   0.0   0.0  0.26  0.92  0.00
e1.9   0.0   0.0   0.0   0.0   0.0  0.00  0.00  0.53

In [13]:
Discordance_b2 = ELECTRE_Tri.discordance(Criteria, Actions, Performances, Thresholds, 'Good')
print('Discrodance matrix for the "Good" reference profile: (ai,b2)')
pd.DataFrame(Discordance_b2['(ai,bk)'], index=Actions, columns=Criteria).round(2)

Discrodance matrix for the "Good" reference profile: (ai,b2)

      g1.1  g4.1  g4.2  g4.3  g4.4  g4.5  g4.6  g4.7
e1.1   0.0   0.0   0.0  0.31   0.0  0.00  0.00   0.0
e1.2   0.0   0.0   0.0  0.00   0.0  0.00  1.00   0.0
e1.3   0.0   0.0   0.0  0.00   0.0  0.00  1.00   0.0
e1.4   0.0   0.0   0.0  0.00   0.0  0.73  1.00   0.0
e1.5   0.0   0.0   0.0  0.00   0.0  0.00  1.00   0.0
e1.6   0.0   0.0   0.0  0.00   0.0  0.00  0.00   0.0
e1.7   0.0   0.0   0.0  0.40   0.0  0.00  0.00   0.0
e1.8   0.0   0.0   0.0  0.00   0.0  1.00  1.00   0.0
e1.9   0.0   0.0   0.0  0.00   0.0  0.00  0.08   1.0

In [14]:
# Calculation of the global concordances vectors for the two reference profiles
Global_concordance_b1 = ELECTRE_Tri.global_concordance(Concordance_b1, Criteria, Actions, Weights)
print('Global concordances vectors for the "Moderate" reference profile')
pd.DataFrame(Global_concordance_b1, index=Actions).round(2)

Global concordances vectors for the "Moderate" reference profile

      (ai,bk)  (bk,ai)
e1.1     0.96     0.58
e1.2     0.88     0.65
e1.3     0.88     0.74
e1.4     0.78     0.71
e1.5     1.00     0.37
e1.6     1.00     0.36
e1.7     0.93     0.44
e1.8     0.74     0.66
e1.9     0.95     0.67

In [15]:
Global_concordance_b2 = ELECTRE_Tri.global_concordance(Concordance_b2, Criteria, Actions, Weights)
print('Global concordances vectors for the "Good" reference profile')
pd.DataFrame(Global_concordance_b2)

Global concordances vectors for the "Good" reference profile

    (ai,bk)   (bk,ai)
0  0.838200  0.789700
1  0.883500  0.700235
2  0.765249  0.789700
3  0.696611  0.788946
4  0.883500  0.664622
5  1.000000  0.469078
6  0.838200  0.636930
7  0.744300  0.789700
8  0.817103  0.789700

In [16]:
# Calculation of the credibility vectors for the two reference profiles
Credibility_b1 = ELECTRE_Tri.credibility(Global_concordance_b1, Discordance_b1, Criteria, Actions)
print('Credibility vectors for the "Moderate" reference profile')
pd.DataFrame(Credibility_b1, index=Actions).round(2)

Credibility vectors for the "Moderate" reference profile

      (ai,bk)  (bk,ai)
e1.1     0.96      0.0
e1.2     0.88      0.0
e1.3     0.63      0.0
e1.4     0.30      0.0
e1.5     1.00      0.0
e1.6     1.00      0.0
e1.7     0.93      0.0
e1.8     0.24      0.0
e1.9     0.95      0.0

In [17]:
Credibility_b2 = ELECTRE_Tri.credibility(Global_concordance_b2, Discordance_b2, Criteria, Actions)
print('Credibility vectors for the "Good" reference profile')
pd.DataFrame(Credibility_b2, index=Actions).round(2)

Credibility vectors for the "Good" reference profile

      (ai,bk)  (bk,ai)
e1.1     0.84      0.0
e1.2     0.00      0.0
e1.3     0.00      0.0
e1.4     0.00      0.0
e1.5     0.00      0.0
e1.6     1.00      0.0
e1.7     0.84      0.0
e1.8     0.00      0.0
e1.9     0.00      0.0

In [18]:
# Building the matrix of outranking relations
Over_ranking = ELECTRE_Tri.over_ranking_relations(Credibility_b1, Credibility_b2, λ)
pd.DataFrame(Over_ranking, index=Actions)

     Floor Moderate Good Roof
e1.1     >        >    >    <
e1.2     >        >    R    <
e1.3     >        R    R    <
e1.4     >        R    R    <
e1.5     >        >    R    <
e1.6     >        >    >    <
e1.7     >        >    >    <
e1.8     >        R    R    <
e1.9     >        >    R    <

## 4. Fourth step

#### 4.1 Ranking of actions
The fourth step consists in classifying the actions in the categories, based on the outranking relations obtained previously, and following two ranking procedures: "**optimistic sorting**" and "**pessimistic sorting**".

To achieve this sorting we call the two functions "***pessimistic_sorting***" and "***optimistic_sorting***" and display the result of the ranking in the form of lists representing the categories and containing the actions.

In [19]:
# Ranking of actions in the three categories according to the pessimistic procedure and display of the result
Pessimistic_sorting = ELECTRE_Tri.pessimistic_sorting(Actions, Over_ranking, Categories)
print("Results of the pessimistic sorting : ")
print('Bad :', Pessimistic_sorting[0]['Bad'])
print('Moderate :', Pessimistic_sorting[0]['Moderate'])
print('Good :', Pessimistic_sorting[0]['Good'])
pd.DataFrame.from_dict(Pessimistic_sorting[1], orient='index', columns=['Categories'])

Results of the pessimistic sorting :
Bad : ['e1.3' 'e1.4' 'e1.8']
Moderate : ['e1.2' 'e1.5' 'e1.9']
Good : ['e1.1' 'e1.6' 'e1.7']

      Categories
e1.1           3
e1.2           2
e1.3           1
e1.4           1
e1.5           2
e1.6           3
e1.7           3
e1.8           1
e1.9           2

In [20]:
# Ranking of actions in the three categories according to the optimistic procedure and display of the result
Optimistic_sorting = ELECTRE_Tri.optimistic_sorting(Actions, Over_ranking, Categories)
print('Results of the optimistic sorting : ')
print('Bad :', Optimistic_sorting[0]['Bad'])
print('Moderate :', Optimistic_sorting[0]['Moderate'])
print('Good :', Optimistic_sorting[0]['Good'])
pd.DataFrame.from_dict(Optimistic_sorting[1], orient='index', columns=['Categories'])

Results of the optimistic sorting :
Bad : ['e1.3' 'e1.4' 'e1.8']
Moderate : ['e1.2' 'e1.5' 'e1.9']
Good : ['e1.1' 'e1.6' 'e1.7']

      Categories
e1.1           3
e1.2           2
e1.3           1
e1.4           1
e1.5           2
e1.6           3
e1.7           3
e1.8           1
e1.9           2

#### 4.2 Calculation of median rank
In this fourth step the median rank of each action is also calculated with the function "***median_rank***".

In [21]:
# Calculating the median rank of each share
Median_rank = ELECTRE_Tri.median_rank(Actions, Pessimistic_sorting, Optimistic_sorting)
pd.DataFrame.from_dict(Median_rank, orient='index', columns=['Median rank'])

      Median rank
e1.1          3.0
e1.2          2.0
e1.3          1.0
e1.4          1.0
e1.5          2.0
e1.6          3.0
e1.7          3.0
e1.8          1.0
e1.9          2.0

## 5. Fifth step

When all the steps are completed, it is then possible to display results with the "***display_results***" function for a better visualisation of the ranking of the actions and of the median ranks.

In [22]:
# Display of the median ranks and of the categories in which each action is classified
ELECTRE_Tri.display_results(Actions, Pessimistic_sorting, Optimistic_sorting, Median_rank)

e1.1 is classified in the category C33 with a median rank of 3.0
e1.2 is classified in the category C22 with a median rank of 2.0
e1.3 is classified in the category C11 with a median rank of 1.0
e1.4 is classified in the category C11 with a median rank of 1.0
e1.5 is classified in the category C22 with a median rank of 2.0
e1.6 is classified in the category C33 with a median rank of 3.0
e1.7 is classified in the category C33 with a median rank of 3.0
e1.8 is classified in the category C11 with a median rank of 1.0
e1.9 is classified in the category C22 with a median rank of 2.0